p {
  color: var(--Black-Text, #2b2b2b);
  /* Body Mob */
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
@media (max-width: 576px) {
  .blog-header {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px; /* 145.833% */
    margin-bottom: 30px;
  }
  .blog-text {
    color: var(--Black-Text, #2b2b2b);

    /* Body */
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
  }
  .blog {
    background-image: url(../images/Group\ 289.png);
    background-repeat: no-repeat;
  }
  .blogs {
    display: flex;
    flex-direction: column;
  }
  .blog-section {
    margin-left: 20px;
    padding-top: 50px;
    margin-right: 20px;
    margin-bottom: 30px;
  }
  .blog-block1 {
    width: 100%;
    margin-bottom: 52px;
  }
  .blog-block1 > button {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: purple;
    background-color: white;
    border: none;
  }
  .blog-block1 > div > h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 125% */
  }
}
@media ((min-width: 577px)and (max-width:768px)) {
  .blog-header {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px; /* 145.833% */
    margin-bottom: 30px;
  }
  .blog-text {
    color: var(--Black-Text, #2b2b2b);

    /* Body */
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
  }
  .blog {
    background-image: url(../images/Group\ 289.png);
    background-repeat: no-repeat;
  }
  .blogs {
    display: flex;
    flex-direction: column;
  }
  .blog-section {
    margin-left: 50px;
    padding-top: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
  }
  .blog-block1 {
    width: 100%;
    margin-bottom: 52px;
  }
  .blog-block1 > button {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: purple;
    background-color: white;
    border: none;
  }
  .blog-block1 > div > h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 125% */
  }
}
@media ((min-width: 769px)and (max-width:1024px)) {
  .blog-header {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px; /* 145.833% */
    margin-bottom: 30px;
  }
  .blog-text {
    color: var(--Black-Text, #2b2b2b);

    /* Body */
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
  }
  .blog {
    background-image: url(../images/Group\ 289.png);
    background-repeat: no-repeat;
  }
  .blogs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .blog-section {
    margin-left: 50px;
    padding-top: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
  }
  .blog-block1 {
    width: 45%;
    margin-bottom: 52px;
  }
  .blog-block1 > button {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: purple;
    background-color: white;
    border: none;
  }
  .blog-block1 > div > h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 125% */
  }
}
@media ((min-width: 1025px)and (max-width:1199px)) {
  .blog-header {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px; /* 145.833% */
    margin-bottom: 30px;
  }
  .blog-text {
    color: var(--Black-Text, #2b2b2b);

    /* Body */
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
  }
  .blog {
    background-image: url(../images/Group\ 289.png);
    background-repeat: no-repeat;
  }
  .blogs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .blog-section {
    margin-left: 50px;
    padding-top: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
  }
  .blog-block1 {
    width: 31%;
    margin-bottom: 52px;
  }
  .blog-block1 > button {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: purple;
    background-color: white;
    border: none;
  }
  .blog-block1 > div > h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 125% */
  }
}
@media (min-width: 1200px) {
  .blog-header {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px; /* 145.833% */
    margin-bottom: 90px;
  }
  .blog-text {
    color: var(--Black-Text, #2b2b2b);

    /* Body */
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
  }
  .blog {
    background-image: url(../images/Group\ 289.png);
    background-repeat: no-repeat;
  }
  .blog-section {
    margin-left: 151px;
    padding-top: 150px;
    margin-right: 151px;
    margin-bottom: 90px;
  }
  .blogs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .blog-block1 {
    width: 31%;
    margin-bottom: 52px;
  }
  .blog-block1 > button {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: purple;
    background-color: white;
    border: none;
  }
  .blog-block1 > div > h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 125% */
  }
}
