body {
  font-family: "Montserrat", sans-serif;
}
.lets-talk-about:hover {
  background-color: #6436d3;
  color: white;
}

@media (max-width: 576px) {
  .home-header {
    background-image: url(../images/home-576.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    /* height: 690px; */
  }
  .home-header-content {
    /* padding-bottom: 263px; */
  }
  .home-header-text {
    color: var(--White, #fbfbfb);
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    padding-top: 229px;
    padding-bottom: 229px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .section-about {
    background-image: url(../images/Group\ 284.png);
    background-position: center;
    background-size: cover;
    width: 100%;
  }
  .about {
    padding-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 118px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* text-align: center; */
  }
  .home-about-text {
    /* margin-top: 161px; */
  }
  .home-about-img > img {
    width: 294px !important;
    height: 238px !important;
    margin: auto;
  }

  .about > div > h1 {
    color: #00000057;

    font-family: "Montserrat", sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 48.5px;
  }
  .about-text {
    color: var(--Black-Text, #2b2b2b);
    /* width: 420px; */
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    /* font-weight: bold; */
    line-height: 20px; /* 150% */
  }
  .lets-talk-about {
    display: flex;
    width: 254px;
    padding: 18px 56px 18px 64px;
    align-items: center;
    gap: 20px;
    border-radius: 76px;
    border: 1px solid var(--Light-Purple, #6436d3);
    background-color: white;
    color: var(--Light-Purple, #6436d3);
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .section-2 {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 118px;
  }
  .what-we-do {
    padding: 20px;
    background: var(--White, #fbfbfb);
    box-shadow: 0px 0px 23px 0px rgba(194, 194, 194, 0.6);
  }
  .block {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .block > div {
    width: 50%;
    margin-bottom: 35px;
    font-size: 14px;
  }
  .block > div > img {
    margin-bottom: 30px;
  }
  .slider-reviews {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
  }
  .slider-reviews > div > h1 {
    margin-bottom: 30px;
  }
  .work-procces {
    fill: linear-gradient(
        180deg,
        rgba(55, 18, 163, 0.67) 0%,
        rgba(255, 255, 255, 0) 56.9%
      ),
      radial-gradient(
        276.08% 154.19% at -1.29% 3.64%,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0) 100%
      );
    padding-left: 20px;
    padding-top: 70px;
    padding-bottom: 33px;
  }
  .work-procces-body {
    background-image: url(../images/Polygon\ 2.png);
    background-position: right;
    /* background-size: cover; */
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 116px;
    /* padding-right: 20px; */
  }
  .work-procces > h1 {
    color: var(--Black-Text, #2b2b2b);
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
  }

  .str {
    margin-top: 20px;
  }

  .number {
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .n1 {
    margin-left: 0px;
    margin-right: 5px;
  }
  .n1 > img {
    width: 50px !important;
    height: 50px !important;
  }
  .n2 {
    margin-left: 0px;

    margin-right: 5px;
  }
  .n2 > img {
    width: 50px !important;
    height: 50px !important;
  }
  .n3 {
    margin-left: 0px;
    margin-right: 5px;
  }
  .n3 > img {
    width: 50px !important;
    height: 50px !important;
  }
  .n4 {
    margin-left: 0px;
    margin-right: 5px;
  }
  .n4 > img {
    width: 50px !important;
    height: 50px !important;
  }
  .n5 {
    margin-left: 0px;
    margin-right: 5px;
  }
  .n5 > img {
    width: 50px !important;
    height: 50px !important;
  }
  .growth {
    margin-top: 0px;
    /* text-align: center; */
  }
  .growth > p {
    /* margin-left: 15px; */
  }
  .growth > h2 {
    color: var(--Black-Text, #2b2b2b);
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    /* line-height: 50px; */
  }
  .get-your-free-section {
    background: var(--Black-Text, #2b2b2b);
  }
  .Get-Your-Free {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 54px;
    padding-bottom: 82px;
  }
  .Get-Your-Free > h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
  }
  .Get-Your-Free > p {
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
  }

  .form-box > input {
    color: var(--Black-Text, #2b2b2b);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    border-radius: 12px;
    background: var(--White, #fbfbfb);
    margin-right: 0px;
    padding: 20px 20px;
    margin-bottom: 30px;
    width: 100%;
  }
  .submit {
    background: var(--Light-Purple, #6436d3) !important;
    color: white !important;
    display: inline-flex;
    padding: 20px 86px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .our-partners {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
  }
  .our-partners-body {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }
  .our-partners-body > h1 {
    color: var(--Black-Text, #2b2b2b);
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
  }
  .block1 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: space-around;
  }
  .block1 > div > p {
    text-align: left !important;
    margin-top: 20px;
  }
  .home-footer {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 66px;
    padding-bottom: 87px;
    color: white;
    background-image: url(../images/ourmission.png);
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .home-footer > h1 {
    color: var(--Black-Text, #2b2b2b);
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100px;
  }
  .home-footer > div > p {
    color: white;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
  }
  .dont-be-footer {
    margin-top: 100px;

    background: linear-gradient(
        180deg,
        rgba(108, 82, 118, 0) 0%,
        rgba(80, 57, 88, 0.71) 29.17%,
        rgba(77, 61, 83, 0.8) 41.67%,
        #3d3241 58.33%,
        #2b2b2b 84.37%
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%),
      radial-gradient(
        1138.55% 336.09% at 259.63% 228.07%,
        #3712a3 10.94%,
        #4b2974 28.9%,
        #d19eda 49.77%,
        #6b5284 66.15%,
        #6436d3 89.86%,
        #404040 100%
      );
  }
  .dont-be-sold {
    background-image: url(../images/Group\ 294.png);
    background-size: cover;
    width: 100%;
    padding-bottom: 370px;
    color: var(--white, var(--White, #fbfbfb));
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  .dont-be-sold > h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
  }
  .dont-be-sold > p {
    color: var(--white, var(--White, #fbfbfb));
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
  .lets-talk {
    background-color: Transparent;
    border-radius: 76px;
    border: 1px solid var(--white, #fbfbfb);
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 18px;
    padding-bottom: 18px;
    color: white;
  }
}
@media ((min-width: 577px)and (max-width:768px)) {
  .home-header {
    background-image: url(../images/home-778.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    /* height: 690px; */
  }
  .home-header-content {
    /* padding-bottom: 263px; */
  }
  .home-header-text {
    color: var(--White, #fbfbfb);
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    padding-top: 229px;
    padding-bottom: 229px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .section-about {
    background-image: url(../images/Group\ 284.png);
    background-position: center;
    background-size: cover;
    width: 100%;
  }
  .about {
    padding-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 118px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* text-align: center; */
  }
  .home-about-text {
    /* margin-top: 161px; */
  }
  .home-about-img > img {
    width: 476px !important;
    height: 418px !important;
  }

  .about > div > h1 {
    color: #00000057;

    font-family: "Montserrat", sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 48.5px;
  }
  .about-text {
    color: var(--Black-Text, #2b2b2b);
    /* width: 420px; */
    font-family: "Montserrat", sans-serif;
    font-size: 14x;
    font-style: normal;
    font-weight: bold;
    line-height: 20px; /* 150% */
  }
  .lets-talk-about {
    display: flex;
    width: 254px;
    padding: 18px 56px 18px 64px;
    align-items: center;
    gap: 20px;
    border-radius: 76px;
    border: 1px solid var(--Light-Purple, #6436d3);
    background-color: white;
    color: var(--Light-Purple, #6436d3);
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin-top: 40px;
  }

  .section-2 {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 60px;
  }
  .section-2 > h1 {
    margin-bottom: 20px;
  }
  .what-we-do {
    padding: 20px;
    background: var(--White, #fbfbfb);
    box-shadow: 0px 0px 23px 0px rgba(194, 194, 194, 0.6);
  }
  .block {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .block > div {
    width: 25%;
    margin-bottom: 35px;
    font-size: 14px;
  }
  .block > div > img {
    margin-bottom: 30px;
  }
  .slider-reviews {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
  }
  .slider-reviews > div > h1 {
    margin-bottom: 30px;
  }
  .work-procces {
    margin-top: 50px;
    margin-left: 50px;
    fill: linear-gradient(
        180deg,
        rgba(55, 18, 163, 0.67) 0%,
        rgba(255, 255, 255, 0) 56.9%
      ),
      radial-gradient(
        276.08% 154.19% at -1.29% 3.64%,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0) 100%
      );
  }
  .work-procces-body {
    background-image: url(../images/polygon-778.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    /* padding-left: 50px; */
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .work-procces > h1 {
    color: var(--Black-Text, #2b2b2b);
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
  }
  .strategy {
    margin-top: 158px;
  }
  .str {
    margin-top: 20px;
  }
  .str1 {
    margin-top: 27px;
  }
  .number {
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .n1 {
    margin-left: 0px;
    margin-right: 5px;
  }
  .n1 > img {
    width: 132px !important;
    height: 100px !important;
  }
  .n2 {
    margin-left: 0px;

    margin-right: 5px;
  }
  .n2 > img {
    width: 132px !important;
    height: 100px !important;
  }
  .n3 {
    margin-left: 0px;
    margin-right: 5px;
  }
  .n3 > img {
    width: 132px !important;
    height: 100px !important;
  }
  .n4 {
    margin-left: 0px;
    margin-right: 5px;
  }
  .n4 > img {
    width: 132px !important;
    height: 100px !important;
  }
  .n5 {
    margin-left: 0px;
    margin-right: 5px;
  }
  .n5 > img {
    width: 132px !important;
    height: 100px !important;
  }
  .growth {
    margin-top: 0px;
    /* text-al
    .ign: center; */
  }
  .growth {
    margin-left: 30px;
  }
  .growth > p {
    font-size: 20px;
  }
  .growth > h2 {
    color: var(--Black-Text, #2b2b2b);
    font-family: "Montserrat", sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 500;
    /* line-height: 50px; */
  }
  .get-your-free-section {
    background: var(--Black-Text, #2b2b2b);
  }
  .Get-Your-Free {
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 54px;
    padding-bottom: 82px;
  }
  .Get-Your-Free > h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
  }
  .Get-Your-Free > p {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
  }

  .form-box > input {
    color: var(--Black-Text, #2b2b2b);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    border-radius: 12px;
    background: var(--White, #fbfbfb);
    margin-right: 0px;
    padding: 20px 20px;
    margin-bottom: 30px;
    width: 100%;
  }
  .submit {
    background: var(--Light-Purple, #6436d3) !important;
    color: white !important;
    display: inline-flex;
    padding: 20px 86px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .our-partners {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 118px;
  }
  .our-partners-body {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }
  .our-partners-body > h1 {
    color: var(--Black-Text, #2b2b2b);
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
  }
  .block1 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: space-around;
  }
  .block1 > div > p {
    text-align: left !important;
    font-size: 16px;
    margin-top: 20px;
    /* width: 45%; */
  }
  .home-footer {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 66px;
    padding-bottom: 87px;
    color: white;
    background-image: url(../images/ourmission.png);
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .home-footer > h1 {
    color: var(--Black-Text, #2b2b2b);
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100px;
  }
  .home-footer > div > p {
    color: white;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
  }
  .dont-be-footer {
    margin-top: 100px;

    background: linear-gradient(
        180deg,
        rgba(108, 82, 118, 0) 0%,
        rgba(80, 57, 88, 0.71) 29.17%,
        rgba(77, 61, 83, 0.8) 41.67%,
        #3d3241 58.33%,
        #2b2b2b 84.37%
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%),
      radial-gradient(
        1138.55% 336.09% at 259.63% 228.07%,
        #3712a3 10.94%,
        #4b2974 28.9%,
        #d19eda 49.77%,
        #6b5284 66.15%,
        #6436d3 89.86%,
        #404040 100%
      );
  }
  .dont-be-sold {
    background-image: url(../images/Group\ 308.png);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    padding-bottom: 500px;
    color: var(--white, var(--White, #fbfbfb));
    padding-top: 100px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
  }
  .dont-be-sold > h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
  }
  .dont-be-sold > p {
    color: var(--white, var(--White, #fbfbfb));
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
  .lets-talk {
    background-color: Transparent;
    border-radius: 76px;
    border: 1px solid var(--white, #fbfbfb);
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 18px;
    padding-bottom: 18px;
    color: white;
  }
}
@media ((min-width: 769px)and (max-width:1024px)) {
  .home-header {
    background-image: url(../images/home-778.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    /* height: 690px; */
  }
  .home-header-content {
    /* padding-bottom: 263px; */
  }
  .home-header-text {
    color: var(--White, #fbfbfb);
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    padding-top: 229px;
    padding-bottom: 229px;
    padding-right: 140px;
    padding-left: 140px;
  }
  .section-about {
    background-image: url(../images/Group\ 284.png);
    background-position: center;
    background-size: cover;
    width: 100%;
  }
  .about {
    padding-top: 60px;
    margin-left: 100px;
    /* margin-right: 140px; */
    margin-bottom: 100px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    /* text-align: center; */
  }
  .home-about-text {
    /* margin-top: 161px; */
  }
  .home-about-img > img {
    width: 416px !important;
    height: 358px !important;
  }

  .about > div > h1 {
    color: #00000057;

    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48.5px;
  }
  .about-text {
    color: var(--Black-Text, #2b2b2b);
    /* width: 420px; */
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 27px; /* 150% */
  }
  .lets-talk-about {
    display: flex;
    width: 254px;
    padding: 18px 56px 18px 64px;
    align-items: center;

    border-radius: 76px;
    border: 1px solid var(--Light-Purple, #6436d3);
    background-color: white;
    color: var(--Light-Purple, #6436d3);
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin-top: 40px;
  }

  .section-2 {
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 100px;
  }
  .section-2 > h1 {
    margin-bottom: 30px;
  }
  .what-we-do {
    padding: 30px;
    background: var(--White, #fbfbfb);
    box-shadow: 0px 0px 23px 0px rgba(194, 194, 194, 0.6);
  }
  .block {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .block > div {
    width: 25%;
    margin-bottom: 35px;
    font-size: 14px;
  }
  .block > div > img {
    margin-bottom: 30px;
  }
  .work-procces {
    fill: linear-gradient(
        180deg,
        rgba(55, 18, 163, 0.67) 0%,
        rgba(255, 255, 255, 0) 56.9%
      ),
      radial-gradient(
        276.08% 154.19% at -1.29% 3.64%,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0) 100%
      );
    padding-left: 100px;
    padding-top: 100px;
  }
  .work-procces-body {
    background-image: url(../images/polygon-778.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    /* padding-left: 100px; */
    /* padding-right: 20px; */
    padding-top: 109px;
    padding-bottom: 146px;
  }
  .work-procces > h1 {
    color: var(--Black-Text, #2b2b2b);
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
  }
  .strategy {
    margin-top: 50px;
  }
  .str {
    margin-top: 50px;
  }
  .str1 {
    margin-top: 27px;
  }
  .number {
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .slider-reviews {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
  }
  .slider-reviews > div > h1 {
    margin-bottom: 30px;
  }
  .n1 {
    margin-left: 0px;
    margin-right: 5px;
  }
  .n1 > img {
    width: 132px !important;
    height: 100px !important;
  }
  .n2 {
    margin-left: 0px;

    margin-right: 5px;
  }
  .n2 > img {
    width: 132px !important;
    height: 100px !important;
  }
  .n3 {
    margin-left: 0px;
    margin-right: 5px;
  }
  .n3 > img {
    width: 132px !important;
    height: 100px !important;
  }
  .n4 {
    margin-left: 0px;
    margin-right: 5px;
  }
  .n4 > img {
    width: 132px !important;
    height: 100px !important;
  }
  .n5 {
    margin-left: 0px;
    margin-right: 5px;
  }
  .n5 > img {
    width: 132px !important;
    height: 100px !important;
  }
  .growth {
    margin-left: 20px;
    /* text-align: center; */
  }
  .growth > p {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
  }
  .growth > h2 {
    color: var(--Black-Text, #2b2b2b);
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    /* line-height: 50px; */
  }
  .get-your-free-section {
    background: var(--Black-Text, #2b2b2b);
  }
  .Get-Your-Free {
    color: white;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 54px;
    padding-bottom: 82px;
  }
  .Get-Your-Free > h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
  }
  .Get-Your-Free > p {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
  }

  .form-box > input {
    color: var(--Black-Text, #2b2b2b);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    border-radius: 12px;
    background: var(--White, #fbfbfb);
    margin-right: 0px;
    padding: 20px 20px;
    margin-bottom: 30px;
    width: 100%;
  }
  .submit {
    background: var(--Light-Purple, #6436d3) !important;
    color: white !important;
    display: inline-flex;
    padding: 20px 86px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .our-partners {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
  }
  .our-partners-body {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }
  .our-partners-body > h1 {
    color: var(--Black-Text, #2b2b2b);
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
  }
  .block1 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: space-around;
  }
  .block1 > div > p {
    text-align: left !important;
    font-size: 16px;
    /* width: 45%; */
  }
  .home-footer {
    padding-left: 78px;
    padding-right: 78px;
    padding-top: 66px;
    padding-bottom: 87px;
    color: white;
    background-image: url(../images/ourmission.png);
    width: 100%;
    background-size: cover;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
  }

  .home-footer > h1 {
    color: var(--Black-Text, #2b2b2b);
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100px;
  }
  .home-footer > div > p {
    color: white;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
  }
  .dont-be-footer {
    margin-top: 277px;

    background: linear-gradient(
        180deg,
        rgba(108, 82, 118, 0) 0%,
        rgba(80, 57, 88, 0.71) 29.17%,
        rgba(77, 61, 83, 0.8) 41.67%,
        #3d3241 58.33%,
        #2b2b2b 84.37%
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%),
      radial-gradient(
        1138.55% 336.09% at 259.63% 228.07%,
        #3712a3 10.94%,
        #4b2974 28.9%,
        #d19eda 49.77%,
        #6b5284 66.15%,
        #6436d3 89.86%,
        #404040 100%
      );
  }
  .dont-be-sold {
    background-image: url(../images/Group\ 294.png);
    background-size: cover;
    width: 100%;
    padding-bottom: 370px;
    color: var(--white, var(--White, #fbfbfb));
    padding-top: 118px;
    text-align: center;
  }
  .dont-be-sold > h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
  }
  .dont-be-sold > p {
    color: var(--white, var(--White, #fbfbfb));
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
  .lets-talk {
    background-color: Transparent;
    border-radius: 76px;
    border: 1px solid var(--white, #fbfbfb);
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 18px;
    padding-bottom: 18px;
    color: white;
  }
}

@media ((min-width: 1025px)and (max-width:1199px)) {
  .home-header {
    background-image: url(../images/aboutHeader.png);
    background-position: center;
    background-size: cover;
    width: 100%;
  }
  .home-header-content {
    /* padding-bottom: 263px; */
  }
  .home-header-text {
    color: var(--White, #fbfbfb);
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    padding-top: 263px;
    padding-bottom: 263px;
  }
  .section-about {
    background-image: url(../images/Group\ 284.png);
    background-position: center;
    background-size: cover;
    width: 100%;
  }
  .about {
    padding-top: 90px;
    margin-left: 151px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
  }
  .home-about-text {
    width: 50%;
  }
  .home-about- > img {
  }

  .about > div > h1 {
    color: #00000057;
    margin-bottom: 40px;
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
  }
  .about-text {
    color: var(--Black-Text, #2b2b2b);
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    margin-left: 15px;
    line-height: 26px;
  }
  .lets-talk-about {
    display: flex;
    width: 254px;
    padding: 18px 56px 18px 64px;
    align-items: center;
    border-radius: 76px;
    border: 1px solid var(--Light-Purple, #6436d3);
    background-color: white;
    color: var(--Light-Purple, #6436d3);
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin-top: 40px;
  }

  .lets-talk-about:hover {
    background-color: #6436d3;
    color: white;
  }

  .section-2 {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 178px;
  }
  .section-2 > h1 {
    margin-bottom: 40px;
  }
  .what-we-do {
    padding: 57px;
    background: var(--White, #fbfbfb);
    box-shadow: 0px 0px 23px 0px rgba(194, 194, 194, 0.6);
  }
  .block {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .block > div {
    width: 25%;
    margin-bottom: 85px;
  }
  .block > div > img {
    margin-bottom: 30px;
  }
  .slider-reviews {
    margin-left:100px;
    margin-right:100px;
    margin-bottom:100px;
  }
  .slider-reviews > div > h1 {
    margin-bottom: 30px;
  }
  .work-procces {
    fill: linear-gradient(
        180deg,
        rgba(55, 18, 163, 0.67) 0%,
        rgba(255, 255, 255, 0) 56.9%
      ),
      radial-gradient(
        276.08% 154.19% at -1.29% 3.64%,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0) 100%
      );
    padding-left: 151px;
    padding-right: 151px;
    padding-top: 100px;
    background-image: url(../images/Group\ 282.png);
    background-position: center;
    background-size: cover;
  }
  .work-procces-body {
    width: 100%;

    padding-bottom: 100px;
    /* background-attachment: fixed; */
  }
  .work-procces > h1 {
    color: var(--Black-Text, #2b2b2b);
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
  }
  .strategy {
    margin-top: 158px;
  }
  .str {
    margin-top: 61px;
  }
  .str1 {
    margin-top: 192px;
  }
  .number {
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .n1 {
    /* margin-left: 182px; */
    margin-right: 58px;
  }
  .n2 {
    /* margin-left: 127px; */

    margin-right: 75px;
  }
  .n3 {
    /* margin-left: 72px; */

    margin-right: 45px;
  }
  .n4 {
    /* margin-left: 17px; */

    margin-right: 84px;
  }
  .n5 {
    /* margin-left: -57px; */
    margin-right: 75px;
  }
  .growth {
    margin-top: 20px;
    text-align: center;
  }
  .growth > p {
    font-size: 16px;
  }
  .growth > h2 {
    color: var(--Black-Text, #2b2b2b);
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
  }
  .get-your-free-section {
    background: var(--Black-Text, #2b2b2b);
  }
  .Get-Your-Free {
    color: white;
    margin-left: 100px;
    padding-top: 54px;
    padding-bottom: 82px;
  }
  .Get-Your-Free > h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
  }
  .Get-Your-Free > p {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }

  .form-box > input {
    color: var(--Black-Text, #2b2b2b);
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    border-radius: 12px;
    background: var(--White, #fbfbfb);
    margin-right: 25px;
    padding: 20px 20px;
  }
  .submit {
    background: var(--Light-Purple, #6436d3) !important;
    color: white !important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px !important;
    padding-right: 50px !important;
    margin-top: 30px;
  }
  .our-partners {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 90px;
  }
  .our-partners-body {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }
  .our-partners-body > h1 {
    color: var(--Black-Text, #2b2b2b);
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
  }
  .block1 {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
  }
  .block1 > div {
    width: 47%;
  }
  .block1 > div > p {
    font-size: 16px;
    line-height: 25px;
  }
  .home-footer {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 66px;
    padding-bottom: 87px;
    color: white;
    background-image: url(../images/ourmission.png);
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: space-between;
  }

  .home-footer > h1 {
    color: var(--Black-Text, #2b2b2b);
    font-family: "Montserrat", sans-serif;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: 100px;
  }
  .home-footer > div > p {
    color: white;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
  }
  .dont-be-footer {
    margin-top: 100px;

    background: linear-gradient(
        180deg,
        rgba(108, 82, 118, 0) 0%,
        rgba(80, 57, 88, 0.71) 29.17%,
        rgba(77, 61, 83, 0.8) 41.67%,
        #3d3241 58.33%,
        #2b2b2b 84.37%
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%),
      radial-gradient(
        1138.55% 336.09% at 259.63% 228.07%,
        #3712a3 10.94%,
        #4b2974 28.9%,
        #d19eda 49.77%,
        #6b5284 66.15%,
        #6436d3 89.86%,
        #404040 100%
      );
  }
  .dont-be-sold {
    background-image: url(../images/Group\ 288.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-bottom: 340px;
    color: var(--white, var(--White, #fbfbfb));
    padding-top: 100px;
    text-align: center;
  }
  .dont-be-sold > h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
  }
  .dont-be-sold > p {
    color: var(--white, var(--White, #fbfbfb));
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }
  .lets-talk {
    background-color: Transparent;
    border-radius: 76px;
    border: 1px solid var(--white, #fbfbfb);
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 18px;
    margin-top: 70px;
    padding-bottom: 18px;
    color: white;
  }
}

@media (min-width: 1200px) {
  .home-header {
    background-image: url(../images/aboutHeader.png);
    background-position: center;
    background-size: cover;
    width: 100%;
  }
  .home-header-content {
    /* padding-bottom: 263px; */
  }
  .home-header-text {
    color: var(--White, #fbfbfb);
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    padding-top: 263px;
    padding-bottom: 263px;
  }
  .section-about {
    background-image: url(../images/Group\ 284.png);
    background-position: center;
    background-size: cover;
    width: 100%;
  }
  .about {
    padding-top: 90px;
    margin-left: 151px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
  }
  .home-about-text {
    width: 50%;
  }
  .home-about- > img {
  }

  .about > div > h1 {
    color: #00000057;
    margin-bottom: 40px;
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
  }
  .about-text {
    color: var(--Black-Text, #2b2b2b);
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    margin-left: 15px;
    line-height: 26px;
  }
  .lets-talk-about {
    display: flex;
    width: 254px;
    padding: 18px 56px 18px 64px;
    align-items: center;
    border-radius: 76px;
    border: 1px solid var(--Light-Purple, #6436d3);
    background-color: white;
    color: var(--Light-Purple, #6436d3);
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin-top: 40px;
  }

  .lets-talk-about:hover {
    background-color: #6436d3;
    color: white;
  }

  .section-2 {
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 178px;
  }
  .section-2 > h1 {
    margin-bottom: 40px;
  }
  .what-we-do {
    padding: 57px;
    background: var(--White, #fbfbfb);
    box-shadow: 0px 0px 23px 0px rgba(194, 194, 194, 0.6);
  }
  .block {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .block > div {
    width: 25%;
    margin-bottom: 85px;
  }
  .block > div > img {
    margin-bottom: 30px;
  }
  .slider-reviews {
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;
  }
  .slider-reviews > div > h1 {
    margin-bottom: 30px;
  }
  .work-procces {
    fill: linear-gradient(
        180deg,
        rgba(55, 18, 163, 0.67) 0%,
        rgba(255, 255, 255, 0) 56.9%
      ),
      radial-gradient(
        276.08% 154.19% at -1.29% 3.64%,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0) 100%
      );
    padding-left: 151px;
    padding-right: 151px;
    padding-top: 100px;
    background-image: url(../images/Group\ 282.png);
    background-position: center;
    background-size: cover;
  }
  .work-procces-body {
    width: 100%;

    padding-bottom: 100px;
    /* background-attachment: fixed; */
  }
  .work-procces > h1 {
    color: var(--Black-Text, #2b2b2b);
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
  }
  .strategy {
    margin-top: 158px;
  }
  .str {
    margin-top: 61px;
  }
  .str1 {
    margin-top: 192px;
  }
  .number {
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .n1 {
    margin-left: 182px;
    margin-right: 35px;
  }
  .n2 {
    margin-left: 127px;

    margin-right: 110px;
  }
  .n3 {
    margin-left: 72px;

    margin-right: 117px;
  }
  .n4 {
    margin-left: 17px;

    margin-right: 242px;
  }
  .n5 {
    margin-left: -57px;
    margin-right: 300px;
  }
  .growth {
    margin-top: 20px;
    text-align: center;
  }
  .growth > p {
    font-size: 16px;
  }
  .growth > h2 {
    color: var(--Black-Text, #2b2b2b);
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
  }
  .get-your-free-section {
    background: var(--Black-Text, #2b2b2b);
  }
  .Get-Your-Free {
    color: white;
    margin-left: 151px;
    padding-top: 54px;
    padding-bottom: 82px;
  }
  .Get-Your-Free > h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
  }
  .Get-Your-Free > p {
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }

  .form-box > input {
    color: var(--Black-Text, #2b2b2b);
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    border-radius: 12px;
    background: var(--White, #fbfbfb);
    margin-right: 25px;
    padding: 20px 20px;
  }
  .submit {
    background: var(--Light-Purple, #6436d3) !important;
    color: white !important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
  .our-partners {
    margin-left: 151px;
    margin-right: 151px;
    margin-top: 90px;
  }
  .our-partners-body {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }
  .our-partners-body > h1 {
    color: var(--Black-Text, #2b2b2b);
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
  }
  .block1 {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
  }
  .block1 > div {
    width: 47%;
  }
  .block1 > div > p {
    font-size: 16px;
    line-height: 25px;
  }
  .home-footer {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 66px;
    padding-bottom: 87px;
    color: white;
    background-image: url(../images/ourmission.png);
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: space-between;
  }

  .home-footer > h1 {
    color: var(--Black-Text, #2b2b2b);
    font-family: "Montserrat", sans-serif;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: 100px;
  }
  .home-footer > div > p {
    color: white;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
  }
  .dont-be-footer {
    margin-top: 100px;

    background: linear-gradient(
        180deg,
        rgba(108, 82, 118, 0) 0%,
        rgba(80, 57, 88, 0.71) 29.17%,
        rgba(77, 61, 83, 0.8) 41.67%,
        #3d3241 58.33%,
        #2b2b2b 84.37%
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%),
      radial-gradient(
        1138.55% 336.09% at 259.63% 228.07%,
        #3712a3 10.94%,
        #4b2974 28.9%,
        #d19eda 49.77%,
        #6b5284 66.15%,
        #6436d3 89.86%,
        #404040 100%
      );
  }
  .dont-be-sold {
    background-image: url(../images/Group\ 288.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-bottom: 340px;
    color: var(--white, var(--White, #fbfbfb));
    padding-top: 100px;
    text-align: center;
  }
  .dont-be-sold > h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
  }
  .dont-be-sold > p {
    color: var(--white, var(--White, #fbfbfb));
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }
  .lets-talk {
    background-color: Transparent;
    border-radius: 76px;
    border: 1px solid var(--white, #fbfbfb);
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 18px;
    margin-top: 70px;
    padding-bottom: 18px;
    color: white;
  }
}
