@media (max-width: 576px) {
  .whatwedo-header {
    background-image: url(../../images/whatwedo-header.png);
    background-position: center;
    background-size: cover;
    width: 100%;
  }
  .whatwedo-text {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .whatwedo-text > h1 {
    color: var(--Black-Text, #ffff);
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
  }
  .whatwedo-text > p {
    color: var(--Black-Text, #ffff);
    text-align: center;

    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
  }
  .buisness-llc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 50px;
    margin-right: 20px;
  }
  .buisness-img > div > img {
    width: 100%;
  }
  .carousel-img > div {
    width: 45%;
  }
  .carousel-img > div > img {
    width: 100%;
  }

  .buisness-text {
    color: var(--Black-Text, #2b2b2b);
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    width: 100%;
  }
  .buisness-text > h1 {
    font-size: 37px;
    font-weight: 500;
    line-height: 70px;
  }
  .buisness-text > ul {
    font-size: 25px;
    font-weight: 500;
    line-height: 50px;
  }
  .buisness-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }

  .buisness-llc-text-what {
    color: var(--white, var(--White, #fbfbfb));
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }

  .what-we-do-buisness-llc-text {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 66px;
    padding-bottom: 87px;
    background-image: url(../../images/ourmission.png);
    width: 100%;
    background-size: cover;
    margin-top: 100px;
  }
  .buisness-llc-text-right {
    text-align: right;
  }
  .our-mission > p {
    color: var(--white, var(--White, #fbfbfb));
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
  }
  .last {
    margin-bottom: 50px;
  }
}
@media ((min-width: 577px)and (max-width:768px)) {
  .whatwedo-header {
    background-image: url(../../images/whatwedo-header.png);
    background-position: center;
    background-size: cover;
    width: 100%;
  }
  .whatwedo-text {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .whatwedo-text > h1 {
    color: var(--Black-Text, #ffff);
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
  }
  .whatwedo-text > p {
    color: var(--Black-Text, #ffff);
    text-align: center;

    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
  }
  .buisness-llc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 50px;
    margin-right: 20px;
  }
  .buisness-img > div > img {
    width: 100%;
  }
  .carousel-img > div {
    width: 45%;
  }
  .carousel-img > div > img {
    width: 100%;
  }

  .buisness-text {
    color: var(--Black-Text, #2b2b2b);
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    width: 100%;
  }
  .buisness-text > h1 {
    font-size: 37px;
    font-weight: 500;
    line-height: 70px;
  }
  .buisness-text > ul {
    font-size: 25px;
    font-weight: 500;
    line-height: 50px;
  }
  .buisness-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }

  .buisness-llc-text-what {
    color: var(--white, var(--White, #fbfbfb));
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }

  .what-we-do-buisness-llc-text {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 66px;
    padding-bottom: 87px;
    background-image: url(../../images/ourmission.png);
    width: 100%;
    background-size: cover;
    margin-top: 100px;
  }
  .buisness-llc-text-right {
    text-align: right;
  }
  .our-mission > p {
    color: var(--white, var(--White, #fbfbfb));
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
  }
  .last {
    margin-bottom: 50px;
  }
}
@media ((min-width: 769px)and (max-width:1024px)) {
  .whatwedo-header {
    background-image: url(../../images/whatwedo-header.png);
    background-position: center;
    background-size: cover;
    width: 100%;
  }
  .whatwedo-text {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 100px;
    padding-left: 100px;
  }
  .whatwedo-text > h1 {
    color: var(--Black-Text, #ffff);
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
  }
  .whatwedo-text > p {
    color: var(--Black-Text, #ffff);
    text-align: center;

    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
  }
  .buisness-llc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    margin-top: 50px;
    margin-right: 100px;
  }
  .buisness-img > div > img {
    width: 100%;
  }
  .carousel-img > div {
    width: 45%;
  }
  .buisness-img > div {
    width: 95%;
  }
  .carousel-img > div > img {
    width: 100%;
  }

  .buisness-text {
    color: var(--Black-Text, #2b2b2b);
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    width: 100%;
  }
  .buisness-text > h1 {
    font-size: 37px;
    font-weight: 500;
    /* line-height: 70px; */
  }
  .buisness-text > ul {
    font-size: 25px;
    font-weight: 500;
    line-height: 25px;
  }
  .buisness-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }

  .buisness-llc-text-what {
    color: var(--white, var(--White, #fbfbfb));
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }

  .what-we-do-buisness-llc-text {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 66px;
    padding-bottom: 87px;
    background-image: url(../../images/ourmission.png);
    width: 100%;
    background-size: cover;
    margin-top: 100px;
  }
  .buisness-llc-text-right {
    text-align: right;
  }
  .our-mission > p {
    color: var(--white, var(--White, #fbfbfb));
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
  }
  .last {
    margin-bottom: 50px;
  }
}
@media ((min-width: 1025px)and (max-width:1199px)) {
  .whatwedo-header {
    background-image: url(../../images/whatwedo-header.png);
    background-position: center;
    background-size: cover;
    width: 100%;
  }
  .whatwedo-text {
    padding: 120px;
    padding-bottom: 100px;
  }
  .whatwedo-text > h1 {
    color: var(--Black-Text, #ffff);
    margin-bottom: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
  }
  .whatwedo-text > p {
    color: var(--Black-Text, #ffff);
    text-align: center;

    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
  }
  .buisness-llc {
    display: flex;
    justify-content: space-between;
    margin-left: 151px;
    margin-top: 100px;
    margin-right: 151px;
  }

  .buisness-text {
    color: var(--Black-Text, #2b2b2b);
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    width: 95%;
  }
  .buisness-text > h1 {
    font-size: 37px;
    font-weight: 500;
    /* line-height: 70px; */
  }
  .buisness-text > ul {
    font-size: 25px;
    font-weight: 500;
    line-height: 50px;
  }
  .buisness-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }
  .buisness-img > div > img {
    width: 100%;
  }
  .carousel-img > div {
    width: 45%;
  }
  .buisness-img > div {
    width: 95%;
  }
  .carousel-img > div > img {
    width: 100%;
  }

  .our-history > div > h1 {
    margin-bottom: 40px;
  }
  .our-history-text {
    color: var(--Black-Text, #2b2b2b);
    width: 420px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }
  .buisness-llc-text-what {
    color: var(--white, var(--White, #fbfbfb));
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }

  .what-we-do-buisness-llc-text {
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 66px;
    padding-bottom: 87px;
    background-image: url(../../images/ourmission.png);
    width: 100%;
    background-size: cover;
    margin-top: 190px;
  }
  .buisness-llc-text-right {
    text-align: right;
  }
  .our-mission > p {
    color: var(--white, var(--White, #fbfbfb));
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
  }
  .last {
    margin-bottom: 190px;
  }
}
@media (min-width: 1200px) {
  .whatwedo-header {
    background-image: url(../../images/whatwedo-header.png);
    background-position: center;
    background-size: cover;
    width: 100%;
  }
  .whatwedo-text {
    padding-top: 120px;
    padding-bottom: 100px;
  }
  .whatwedo-text > h1 {
    color: var(--Black-Text, #ffff);
    margin-bottom: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
  }
  .whatwedo-text > p {
    color: var(--Black-Text, #ffff);
    text-align: center;

    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
  }
  .buisness-llc {
    display: flex;
    justify-content: space-between;
    margin-left: 151px;
    margin-top: 100px;
    margin-right: 151px;
  }

  .buisness-text {
    color: var(--Black-Text, #2b2b2b);
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    width: 45%;
  }
  .buisness-text > h1 {
    font-size: 37px;
    font-weight: 500;
    line-height: 70px;
  }
  .buisness-text > ul {
    font-size: 25px;
    font-weight: 500;
    line-height: 50px;
  }
  .buisness-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }
  .buisness-img {
    width: 50%;
  }
  .buisness-img > div > img {
    width: 100%;
  }
  .carousel-img > div {
    width: 45%;
  }
  .carousel-img>div>img{
    width: 100%;
  }
  .our-history > div > h1 {
    margin-bottom: 40px;
  }
  .our-history-text {
    color: var(--Black-Text, #2b2b2b);
    width: 420px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }
  .buisness-llc-text-what {
    color: var(--white, var(--White, #fbfbfb));
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }

  .what-we-do-buisness-llc-text {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 66px;
    padding-bottom: 87px;
    background-image: url(../../images/ourmission.png);
    width: 100%;
    background-size: cover;
    margin-top: 100px;
  }
  .buisness-llc-text-right {
    text-align: right;
  }
  .our-mission > p {
    color: var(--white, var(--White, #fbfbfb));
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
  }
  .last {
    margin-bottom: 100px;
  }
}
